<!DOCTYPE html>
{% load static %}
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <link rel="stylesheet" href="{% static 'css/form.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>signup</title>
</head>
<div class="page-header">
<h1><a href="/">Sign up Form</a></h1>
  </div>
<form method="post">
  {% csrf_token %}
  {% for field in form %}
    <p>
     <div class="field"> {{ field.label_tag }}<br>
      {{ field }}
       </div>
      {% if field.help_text %}
        <small style="color: grey">{{ field.help_text }}</small>
      {% endif %}
      {% for error in field.errors %}
        <p style="color: red">{{ error }}</p>
      {% endfor %}
    </p>
  {% endfor %}
  <button class="btn" type="submit">Sign up</button>
</form>