<!DOCTYPE HTML>
{% load static%}
<html lang="en">
<head>
      <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
</head>
    <body>
    <div class="page-header">
        <h1><a href="/">About Admin</a></h1>
    </div>
    <p class="post">He is a nice guy ,loves to learn new stuff ,don't like much talking, kinda introvert,
    building this website just out of curiosity , nothing serious about it .
        <span>❤ ☮ &lt/&gt</span>
    </p>


    </body>