<!DOCTYPE HTML>
<html lang="en">
<head>
    <style>
        h1 {
        background-color:#800080;
        padding:10px;
        color:white;
        font-size:xx-large;
        font-family:Apple Chancery, cursive;

        }
        h1 a{
         font-size: 36pt;
        color:white;
        }
    </style>
</head>
    <body>
    <h1><a href="/">About Admin</a></h1>
    <p style="font-family:Comic Sans MS, Comic Sans, cursive;">He is a nice guy ,loves to learn new stuff ,don't like much talking, kinda introvert,
    building this website just out of curiosity , nothing serous about it .
    </p>
    <h2>❤ ☮ &lt/&gt</h2>

    </body>