<!DOCTYPE HTML>
{% load static%}
<html lang="en">
<head>
      <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
</head>
    <body>
    <div class="page-header">
        <h1 style="text-align:center;"><a href="/">Believe in Creation (BiC)</a></h1>
    </div>

    <div class="post">Hey!! there it's BiC .

        This platform let people to express their thoughts, by writing whatever they want to write .

        <span>❤ ☮ &lt/&gt</span>
    </div>

    </body>