{% extends 'blog/base.html' %}

{% block content %}
<h2 style="color:grey;">All post of author:-</h2>
<h1 style="color:#FFDF00;">{{post.author}}</h1>

      {% for p in posts %}
            {% if post.author == p.author %}

                    <div class="post">
                 <h1 ><a href="{% url 'post_detail' pk=post.pk %}">{{ p.title }}</a></h1>
                        <p>published: {{ p.published_date }}</p>
                    <p>{{ p.text|linebreaksbr }}</p>

                     <a href="{% url 'post_detail' pk=post.pk %}">Comments: {{ p.approved_comments.count }}</a><br>
                        <hr>
                </div>
                {% endif %}
                 {% endfor %}
{% endblock %}