
<!DOCTYPE html>
{% load static %}
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>

    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">>
    <title>Homepage</title>
</head>

<body>
    <div class="page-header">
        <h1><a href="/">Believe in Creation!!</a></h1>
        <a href="{% url 'about_bic'%}"><button class="btn">About BiC</button></a>
         {% if user.is_authenticated %}
        <a href="{% url 'post_new' %}" ><button class="btn">+</button></a>
        <a href="{% url 'post_draft_list' %}"><button class="btn" >drafts</button></a>
         <p style="float:right; font-size:large;">Hello {{ user.username }} <small><a style="color:white; font-size:20px;" href="{% url 'logout' %}">(Log out)</a></small></p>

      {% else %}
        <a href="{%url 'sign_up' %}"><button class="btn">Sign up</button></a>
         <a href="{% url 'login' %}" ><button class="btn">login</button></a>
       {% endif %}
    </div>
<br>
            {% block content %}

            {% endblock %}


</body>
</html>