
<!DOCTYPE html>
{% load static %}
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>

    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Homepage</title>
</head>

<body>
    <div class="page-header">
        <h1><a href="/">Believe in Creation!!</a></h1>
        <a style="color:white;" href="{% url 'about_admin'%}"><button class="btn">About admin</button></a>
      {% if user.is_authenticated %}
        <a href="{% url 'post_new' %}" class="top-menu"><button class="btn">+</button></a>
        <a href="{% url 'post_draft_list' %}" class="top-menu"><button class="btn" >Edit</button></a>
         <p style="float:right; font-size:large;">Hello {{ user.username }} <small><a style="color:white; font-size:20px;" href="{% url 'logout' %}">(Log out)</a></small></p>

      {% else %}
        <a href="{%url 'sign_up' %}"><button class="btn">Sign up</button></a>
         <a href="{% url 'login' %}" ><button class="btn">login</button></a>
       {% endif %}



    </div>
    <div class="contentcontainer">

            {% block content %}
            {% endblock %}

    </div>

</body>
</html>