<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HOMEPAGE</title>
</head>
        <body>
        <h1>Believe in Creation !!</h1>

        <P>“Experience life in all possible ways --
            good-bad, bitter-sweet, dark-light,
            summer-winter. Experience all the dualities.
            Don't be afraid of experience, because
            the more experience you have, the more
            mature you become.”</P>

        <DIV>
                <p>“To be creative means to be in love with life.
                    You can be creative only if you love life enough that you want to enhance its beauty,
                    you want to bring a little more music to it, a little more poetry to it,
                    a little more dance to it.”</p>
        </DIV>
        <div>
            <p>Sadness gives depth. Happiness gives height. Sadness gives roots.
                Happiness gives branches. Happiness is like a tree going into the sky,
                and sadness is like the roots going down into the womb of the earth.
                Both are needed, and the higher a tree goes, the deeper it goes, simultaneously.
                The bigger the tree, the bigger will be its roots. In fact, it is always in proportion.
                That's its balance.”</p>
        </div>

        </body>
</html>