{% extends 'blog/base.html' %}

{% block content %}
<div class="post-area">
            {% for post in posts %}
                    <div class="post">
                 <h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
                    <p>{{ post.text|linebreaksbr }}</p>
                     <p>published: {{ post.published_date }}</p>
                     <a href="{% url 'post_detail' pk=post.pk %}">Comments: {{ post.approved_comments.count }}</a><br>
                        <hr>
                </div>


            {% endfor %}
</div>

    <div class="welcome">
        <p>Hey Welcome to the Believe in Creation , express your thought here , puke out what's in your mind  by writing here..
    create an account and start expressing yourself.
    Show creativity write poems, experiences, incidents , memories,or anything that you want to share feel free to write.  </p>
    </div>
{% endblock %}
