{% extends 'blog/base.html' %}

{% block content %}
    <div class="post-detail">
        {% if post.published_date %}

        {% else %}
            <a class="btn" href="{% url 'post_publish' pk=post.pk %}">Publish</a>
        {% endif %}
        <h1 style="color:#FFDF00;">{{ post.title }}</h1>
        <h2 style="margin-left:20px;font-size">author:- <a href="{% url 'author_detail' pk=post.pk %}">{{post.author}}</a></h2>
        <div class="date">
                {{ post.published_date }}
            </div>
        <p>{{ post.text|linebreaksbr }}</p>
      {% if post.author == user and user.is_authenticated %}
        <br>
        <br>
        <a class="btn" href="{% url 'post_edit' pk=post.pk %}">Edit</a>
        <a class="btn" href="{% url 'post_remove' pk=post.pk %}">Remove</a>
      {% endif %}
        </div>

<br>
<span class="btn"><a href="{% url 'add_comment_to_post' pk=post.pk %}"> Add comment</a></span>
<br>
<br>

{% for comment in post.comments.all %}
    <br>
    {% if post.author == user and user.is_authenticated or comment.approved_comment %}

    <div class="comment">
            <strong>{{ comment.author }}</strong>
    <br>
            {% if not comment.approved_comment %}
                <a class="btn" href="{% url 'comment_remove' pk=comment.pk %}">remove</a>
                <a class="btn" href="{% url 'comment_approve' pk=comment.pk %}">approve</a>
            {% endif %}
        <span style="font-size:small;">{{ comment.created_date }}</span>

        <p>{{ comment.text|linebreaks }}</p>

    </div>

    {% endif %}

{% endfor %}

{% endblock %}