.page-header{
    color:white;
    width:95%;
    background-color:#1f1d1d;
    height:150px;
    padding:10px 10px 10px 10px;
    border-radius:25px;

}

a {

    color:#FFDF00;
    font-weight:10;
}


.page-header h1 a {

    float:left;
    padding:10px;
    font-size:xx-large;
    font-family:Comic Sans MS, Comic Sans;
    color:#FFDF00;

}

.page-header a{
    display:inline;
    font-size:x-large;
    float:right;
    padding:10px;
    text-decoration:right;


    }
body{
   padding:10px 10px 10px 20px;
    background-color:black;
    font-family:Comic Sans MS, Comic Sans;
    margin-right:10px;
     }


.post-area{
    border-right:2px groove white;
    float:left;
    width:60%;
    padding:10px;
    height:1000px;
    margin-left:10px;
    overflow:auto;

}


.post{

    background-color:#1f1d1d;
    height:400px;
    overflow:auto;
    width:75%;
    border-radius:20px;
    margin-left:1px;
    margin-top:20px;
    margin-right:5px;
    padding:10px;
    color: white;


   }

.post-detail{
    background-color:#1f1d1d;
    height:600px;
    overflow:auto;
    width:90%;
    border-radius:20px;
    margin-left:10px;
    margin-top:20px;
    margin-right:10px;
    padding:10px 10px 10px 10px;
    color: white;
    overflow:auto;
     }
.welcome{

    margin-right:5px;
    text-align:center;
    float:right;
    width:30%;
    height:100%;
    font-size:large;
    color:#FFDF00;

    }


.btn{

    font-size:large;
    background-image:linear-gradient(#827575,#1a1818);
    border: 2px groove white;
    border-radius:10px;
    color:white;
}

.comment{
    background-color:#1f1d1d;
    border:2px groove white;
    margin-right:10px;
    margin-left:10px;
    padding:10px 10px 10px 10px;
    font-size:large;
    color:white;
    border-radius:25px;

    }

* {
    font-family: 'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', sans-serif;
   }

.login{
    background-color:#141313;
    height:400px;
    overflow:auto;
    width:75%;
    border-radius:20px;
    margin:60px 60px ;
    padding:10px 10px 10px 10px;
    color:#FFDF00;
}

.bic{
    border:1px groove white ;
    background-color:#1f1d1d;
    text-align:center;
    padding:10px 10px 10px 10px;
    font-size:large;
    color:#FFDF00;
    border-radius:5px;
}




