.page-header{
    color:white;
    width:100%;
    background-image:linear-gradient(#b000ad,#f525dd);
    height:100px;
    padding:10px 10px 10px 10px;
}

a {
  
    color:#c410b8;
}


.page-header h1 a {
    float:left;
    padding:10px;
    font-size:xx-large;
    font-family:Comic Sans MS, Comic Sans;
    color:white;

}

.page-header a{
    display:inline;
    font-size:x-large;
    float:right;
    padding:10px;
    background-image:linear-gradient(#f525dd,#b000ad,);

    }
*{

    font-family:Comic Sans MS, Comic Sans; }

.post-area{
    border-right:4px dotted #b000ad;
    float:left;
    width:60%;
    padding:10px;
    height:100%;
    margin-left:10px
}


.post{

    color:#b000ad;
    border:2px dashed #b000ad;
    float:left;
    height:400px;
    overflow:auto;
    width:33.33%;
    border-radius:20px;
    margin-left:20px;
    margin-top:10px;
    padding:30px;
   }


.welcome{
    margin-right:20px;
    text-align:center;
    float:right;
    width:30%;
    height:100%;
    color:#b000ad;
    font-size:large;
    }
.btn{
 font-size:x-large;
    background-color:#f525dd;
    border-radius:10px;
}

.comment{
    margin-left:10px;
    padding:10px 10px 10px 10px;
    position:relative;
    float:right;
    width:30%;
    height:100%;
    color:#b000ad;
    font-size:large;
    }

* {
  /* For mobile phones: */

   max-width: 100%;}


