.page-header{
    color:white;
    width:100%;
    background-color:#141313;
    height:100px;
    padding:10px 10px 10px 10px;
    border-radius:25px;
}

a {

    color:#FFDF00;
    font-weight:10;
}


.page-header h1 a {
    float:left;
    padding:10px;
    font-size:xx-large;
    font-family:Comic Sans MS, Comic Sans;
    color:#FFDF00;

}

.page-header a{
    display:inline;
    font-size:x-large;
    float:right;
    padding:10px;


    }
body{

    background-color:black;
    font-family:Comic Sans MS, Comic Sans; }

.post-area{
    border-right:2px groove white;
    float:left;
    width:60%;
    padding:10px;
    height:100%;
    margin-left:10px;

}


.post{
    background-color:#141313;

    height:400px;
    overflow:auto;
    width:75%;
    border-radius:20px;
    margin-left:10px;
    margin-top:20px;
    margin-right:5px;
    padding:10px;
    color: white;
   }


.welcome{
    margin-right:0px;
    text-align:center;
    float:right;
    width:30%;
    height:100%;
    font-size:large;
    color:#FFDF00;

    }


.btn{
    font-size:x-large;
    background-image:linear-gradient(#827575,#1a1818);
    border-radius:10px;
    color:white;
}

.comment{
    border:2px dashed white;
    margin-left:10px;
    padding:10px 10px 10px 10px;
    position:relative;
    border
    width:30%;
    height:100%;
    font-size:large;
    color:white;
    }

* {
   /* For mobile phones: */
    font-family: 'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', sans-serif;
    max-width: 100%;
   }

.login{
    background-color:#141313;
    height:400px;
    overflow:auto;
    width:75%;
    border-radius:20px;
    margin:60px 60px ;
    padding:10px 10px 10px 10px;
    color:#FFDF00;
}
