.page-header{
    color:white;
    width:100%;
    background-color:#141313;
    height:100px;
    padding:10px 10px 10px 10px;
    border-radius:25px;
    color:#FFDF00;

}

.page-header h1 a{

     color:#FFDF00;
}

body{

    background-color:black;
    font-family: 'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', sans-serif;
    text-align:center;
}
.field {
    padding:10px;
    font-size:xx-large;
    color:#FFDF00;
    width:100%
}

.btn {
    font-size:x-large;
    background-image:linear-gradient(#827575,#1a1818);
    border-radius:10px;
    color:white;
}