.page-header{
    color:white;
    width:100%;
    background-image:linear-gradient(#b000ad,#f525dd);
    height:100px;
    padding:10px 10px 10px 10px;

}

.page-header h1 a{

    color:white;
}

body{

    font-family: Comic Sans;
    text-align:center;
}
.field {
    padding:10px;
    font-size:xx-large;
    color:#c410b8;
    width:100%
}

.btn {
    font-size:xx-large;
    background-color:#f525dd;
    border-radius:10px;
}